@charset "utf-8";

/* LP追加CSS
----------------------------------------------- */
h2{
	position: relative;
	padding:10px 20px;
	font-size:20px;
	color:#FFF;
	background: #88B826;
	box-shadow:0 1px 3px rgba(0,0,0,0.25);
	margin: 2rem 0 1.5rem 0;
}
h2::before,
h2::after{
	content: "";
	position: absolute;
	top: 100%;
	height: 0;
	width: 0;
	border: 5px solid transparent;
	border-top: 5px solid #D7AC83;
}
h2::before{
	right: 0;
	border-left: 5px solid #D7AC83;
}
h2::after{
	left: 0;
	/* border-right: 5px solid #1A3654; */
	border-right: 5px solid #D7AC83;
}